/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    margin-bottom: 20px;
}

.counter {
    display: flex;
    align-items: center;
    padding: 5px;
}

#count {
    font-size: 36px;
    margin-right: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #1877f2;
    color: #fff;
}

button:hover {
    background-color: #166fe5;
}
.counter2{
    padding-left: 8px;
}
